.headerTitle{
    position: absolute;
    left: -1px;
    top: 0px;
    width: 120%;
    height: 150px;
    background-color: rgb(144, 204, 144);
    outline: 1px solid black;
    #mainBanner {
        color: black;
        position: absolute;
        left: 32%;
    }
}
body {background-color: rgb(209, 243, 219);}
#dehydrates {
    position: absolute; 
    left: 50px;
    width: 200px;
    height: 50px;
    border: 0.5px solid black;
    top: 200px;
    font-size: x-large;
    font-family: monospace, sans-serif;
    background-color: rgb(230, 247, 230);
}
#protein {
    position: absolute;
    left: 50px;
    top: 370px;
    width: 200px;
    height: 50px;
    border: 0.5px solid black;
    font-size: x-large;
    font-family: monospace, sans-serif;
    background-color: rgb(230, 247, 230);
}
#protein:hover, #dehydrates:hover, #Vegetables:hover {cursor: pointer;}
#Output {
    position: absolute;
    top: 200px;
    left: 700px;
    width: 600px; 
    height: 700px;
    background-color: white;
    border-radius: 10%;
    border: 2px solid black;
}
#OutputText {
    position: absolute; 
    top: 30px;
    left: 50px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#outputButton1A {
    position: absolute; width: 90px; height: 50px;
    border-radius: 10%; border: 1px solid black;
    top: 403px; left: 500px; font-size: large;
    background-color: #eff7ee; font-family: monospace;
}
#outputButton1A:hover {
    cursor: pointer;
    background-color: #e0e4e0;
}
#outputButton1A:active {
    cursor: grab;
    background-color: #d2d6d2;
}
#Param1 {
    position: absolute;
    top: 450px;
    left: 50px;
    font-size: xx-large;
}
#Vegetables {
    position: absolute;
    top: 525px; left: 50px;
    font-size: x-large;
    border: 0.5px solid black;
    width: 200px; height: 50px;
    font-family: monospace, sans-serif;
    background-color: rgb(230, 247, 230);
}
#Seasons {
    position: absolute;
    top: 675px; left: 50px;
    font-size: x-large;
    border: 0.5px solid black;
    width: 200px; height: 50px;
    font-family: monospace, sans-serif;
    background-color: rgb(230, 247, 230);
}
